.launch {
  display: grid;
  grid-template:
    "icon name" auto
    "icon about" auto /
    max-content auto;
  background-color: #DADADA;
  border: 2px solid black;
  margin: 4px;
  padding: 4px;
}

.launch .name  { grid-area:  name; }
.launch .icon  { grid-area:  icon; }
.launch .about { grid-area: about; }

.icon {
  height: 40px;
  width: 40px;
  margin-right: 6px;

  font-size: 12px;
  text-align: center;
}
