@import '~bootstrap/scss/bootstrap.scss';
@import './styles/main';

.App {
    background-color: black;
    min-height: 100vh;
}
// Card
.ant-card-cover {
    display: flex;
    justify-content: center;
    img {
        height: 150px;
        width: 150px;
    }
}
.ant-pagination-item-ellipsis {
    color: white !important;
}
.ant-spin {
    color: white !important;
}